---
import "src/styles/global.css";
interface Props {
    pageTitle: string;
}
const {pageTitle} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <nav class="p-5">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/personne">Acteurs</a></li>
            <li><a href="/film">Films</a></li>
        </ul>
    </nav>
    <slot />
</body>
</html>